p{
    color: rgb(13, 13, 13);
    text-align: justify;
}

h1{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: rgb(31, 32, 32);
    padding: 1.25rem 0px 1rem;
    margin: 0px;
    line-height: 1.2;
    font-size: 28px;
}
h2{
    font-family: franklin gothic;
    text-transform: capitalize;
    text-align: left;
    color: rgb(31, 32, 32);
    padding: 0rem 0px 0rem;
    margin: 0px;
    line-height: 1.2;
}
.stSelectbox {
    display: flex;
    justify-content: center;
}
.stSelectbox label{
    display: none;
}
.stButton {
    display: flex;
    justify-content: center;
}

.stAppHeader {
    background-color: #528684;
    min-height: 10%;
}
.stSidebar {
    background-color: #528684;
}
.st-key-new_session  button{
    background-color: #A7C726;
    text-transform: capitalize;

}
.st-key-container_sidebar_title p1{
    background-color: #769E9D;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left:1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    margin: 2px;
    line-height: 1.6;
    color: inherit;
    user-select: none;
    border: 1px solid rgba(31, 32, 32, 0.2);
    color: white;
    text-align: center;
    font-weight: bold;
}
.st-key-session_option button{
    background-color: #FFFFFF;
}
/* .st-key-session_option .stSelectbox *{
    background-color: #D0DADB;
    

} */
.stMain {
    background-color: #E0EFEC;
}
.stBottom > div {
    background-color: #E0EFEC;
}

.stVerticalBlock {
    min-width: 100%;
}
.st-key-chat_con {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    
}

.st-key-prompt{
    display: flex;
}


.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.user-message, .assistant-message {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.user-message {
    justify-content: flex-end; /* Posisi pesan user di kanan */
}

.assistant-message {
    justify-content: flex-start; /* Posisi pesan assistant di kiri */
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    
}
.session_title {
    color:white;
    display: flex;
    align-items: center;
    margin: 0px 0;
}
.user-message .message {
    background-color: #f1f7f5;
    text-align: right;
}

.assistant-message .message {
    background-color: #f1f7f5;
    text-align: left;
    min-width: 95%;
}

.sidebar_container {
    display: flex;
    flex-direction: row;
}
.stBottom svg {
    border-radius: 50%;
    background-color: #528684;
    color: white;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.custom-path {
    fill: red; /* Mengubah warna isi (fill) menjadi merah */
    stroke: black; /* Menambahkan garis pinggir (stroke) berwarna hitam */
    stroke-width: 2;/* Menambahkan ketebalan garis pinggir */
}
